<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Yan Zhu">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <link rel="icon" href="img/favicons/favicon.png">
    <link rel="stylesheet" href="../../libs/spectre/0.5.7/dist/spectre.min.css">
    <link rel="stylesheet" href="../../libs/spectre/0.5.7/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="../../libs/spectre/0.5.7/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="../../libs/spectre/0.5.7/docs/dist/docs.min.css">
    <link href="../../libs/spectre/0.5.7/dist/spectre-icons.css">
    <link href="../../css/body.css">
    <title>Catalogo Persona Tipo</title>
</head>
<body>
<div class="docs-container off-canvas off-canvas-sidebar-show">
    <div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
        <br>
        <a class="btn btn-primary ml-1" href="#" target="_blank">AntawaGo</a>&nbsp;&nbsp;
    </div>
    <div class="docs-sidebar off-canvas-sidebar" id="sidebar">
        <div class="docs-brand">
            <a class="docs-logo" href="../../index.html">
                <img src="../../img/log_antawa.png" alt="Spectre.css CSS Framework">
                <h2>AntawaGo</h2></a>
        </div>
        <div class="docs-nav">
            <div class="accordion-container">
                <div class="accordion">
                    <input id="accordion-1" type="radio" name="accordion-radio" hidden="" checked="">
                    <label class="accordion-header c-hand" for="accordion-1">
                        <i class="icon icon-arrow-right mr-1"></i>
                        INICIO
                    </label>
                    <div class="accordion-body">
                        <ul class="menu menu-nav">
                            <li class="menu-item"><a href="#accordions">Información</a></li>
                            <li class="menu-item"><a href="actualizar_contraseña_usuario.html">Cambio de Contraseña</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion">
                    <input id="accordion-2" type="radio" name="accordion-radio" hidden="">
                    <label class="accordion-header c-hand" for="accordion-2">
                        <i class="icon icon-arrow-right mr-1"></i>
                        PARAMETRIZACIÓN
                    </label>
                    <div class="accordion-body">
                        <ul class="menu menu-nav">
                            <li class="menu-item"><a href="#accordions">Menú</a></li>
                            <li class="menu-item"><a href="#accordions">Menú Perfil</a></li>
                            <li class="menu-item"><a href="#accordions">Tipo Nacionalidad</a></li>
                            <li class="menu-item"><a href="#accordions">Tipo Persona</a></li>
                            <li class="menu-item"><a href="#accordions">DPA Ecuador</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion">
                    <input id="accordion-3" type="radio" name="accordion-radio" hidden="">
                    <label class="accordion-header c-hand" for="accordion-3">
                        <i class="icon icon-arrow-right mr-1"></i>
                        USUARIOS
                    </label>
                    <div class="accordion-body">
                        <ul class="menu menu-nav">
                            <li class="menu-item"><a href="#accordions">Coordinador</a></li>
                            <li class="menu-item"><a href="#accordions">Representante</a></li>
                            <li class="menu-item"><a href="#accordions">Monitor</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion">
                    <input id="accordion-4" type="radio" name="accordion-radio" hidden="">
                    <label class="accordion-header c-hand" for="accordion-4">
                        <i class="icon icon-arrow-right mr-1"></i>
                        UNIDAD EDUCATIVA
                    </label>
                    <div class="accordion-body">
                        <ul class="menu menu-nav">
                            <li class="menu-item"><a href="#accordions">Información</a></li>
                            <li class="menu-item"><a href="#accordions">[+] Alumno</a></li>
                            <li class="menu-item"><a href="#accordions">[+] Representante</a></li>
                            <li class="menu-item"><a href="#accordions">Contratos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion">
                    <input id="accordion-5" type="radio" name="accordion-radio" hidden="">
                    <label class="accordion-header c-hand" for="accordion-5">
                        <i class="icon icon-arrow-right mr-1"></i>
                        EMP. PROV. SERVICIO
                    </label>
                    <div class="accordion-body">
                        <ul class="menu menu-nav">
                            <li class="menu-item"><a href="#accordions">Información</a></li>
                            <li class="menu-item"><a href="#accordions">[+] Conductor</a></li>
                            <li class="menu-item"><a href="#accordions">[+] Vehículos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion">
                    <input id="accordion-6" type="radio" name="accordion-radio" hidden="">
                    <label class="accordion-header c-hand" for="accordion-6">
                        <i class="icon icon-arrow-right mr-1"></i>
                        PARADAS RUTAS
                    </label>
                    <div class="accordion-body">
                        <ul class="menu menu-nav">
                            <li class="menu-item"><a href="#accordions">[+] Parada</a></li>
                            <li class="menu-item"><a href="#accordions">[+] Rutas</a></li>
                            <li class="menu-item"><a href="#accordions">[+] Alumnos Ruta</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion">
                    <input id="accordion-7" type="radio" name="accordion-radio" hidden="">
                    <label class="accordion-header c-hand" for="accordion-7">
                        <i class="icon icon-arrow-right mr-1"></i>
                        REPORTES
                    </label>
                    <div class="accordion-body">
                        <ul class="menu menu-nav">
                            <li class="menu-item"><a href="#accordions">Reporte 1</a></li>
                            <li class="menu-item"><a href="#accordions">Reporte 2</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion">
                    <input id="accordion-7" type="radio" name="accordion-radio" hidden="">
                    <label class="accordion-header c-hand" for="accordion-7">
                        <i class="icon icon-arrow-right mr-1"></i>
                        SALIR
                    </label>
                    <div class="accordion-body">
                        <ul class="menu menu-nav">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><a class="off-canvas-overlay" href="#close"></a>
    <div class="off-canvas-content">
        <br><br>
        <br><br>
        <div class="container" id="cards">
            <div class="container" id="tables">
                <h4 class="s-subtitle" id="tables-striped">
                    <a class="anchor" href="#tables-striped" aria-hidden="true"></a>
                    <div class="container">
                        <div class="row">
                            <div class="columns col-oneline">
                                <h4 class="col-4 col-mr-auto">Catálogo Tipo Persona</h4>
                                <div class="column col-3">
                                    <!-- <a class="btn btn-lg">Crear nacionalidad</a>-->
                                    <div class="column"><a class="btn btn-primary" href="#example-modal-agregar">Agregar Persona</a>
                                        <div class="modal" id="example-modal-agregar"><a class="modal-overlay" href="#modals" aria-label="Close"></a>
                                            <div class="modal-container" role="document">
                                                <div class="modal-header"><a class="btn btn-clear float-right" href="#modals" aria-label="Close"></a>
                                                    <div class="modal-title h5">Ingresar información</div>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="content">
                                                        <div class="card-body">
                                                            <form class="form-horizontal">
                                                                <div class="form-group">
                                                                    <div class="col-4 col-sm-12">
                                                                        <h5 class="form-label" for="input-nombre">Nombre:</h5>
                                                                    </div>
                                                                    <div class="col-8 col-sm-12">
                                                                        <input class="form-input" type="text" id="input-nombre" placeholder="Nombre">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-primary" href="catalogo_persona_tipo.html">Agregar</a>
                                                    <a class="btn btn-link" href="#modals">Cancelar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h4>
                <div class="docs-demo columns">
                    <div class="column col-9">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Monitor</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <!-- example modal actualizar y eliminar-->
                                    <div class="column col-6 col-xs-12">
                                        <a class="icon icon-2x icon-edit" href="#example-modal-2"></a>&nbsp;
                                        <a class="icon icon-2x icon-delete" href="#example-modal-delete"></a>
                                        <div class="modal" id="example-modal-2"><a class="modal-overlay" href="#modals" aria-label="Close"></a>
                                            <div class="modal-container" role="document">
                                                <div class="modal-header"><a class="btn btn-clear float-right" href="#modals" aria-label="Close"></a>
                                                    <div class="modal-title h5">Actualizar Catálogo Tipo Persona</div>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="content">
                                                        <form class="form-horizontal">
                                                            <div class="form-group">
                                                                <div class="col-4 col-sm-12">
                                                                    <h5 class="form-label" for="input-nombre-actualizar">Nombre:</h5>
                                                                </div>
                                                                <div class="col-8 col-sm-12">
                                                                    <input class="form-input" type="text" id="input-nombre-actualizar" placeholder="Monitor">
                                                                </div>
                                                            </div>
                                                        </form>
                                                            <div class="modal-footer">
                                                                <a class="btn btn-primary" href="#example-modal-confirm">Actualizar</a>
                                                                <a class="btn btn-link" href="#modals">Cancelar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal" id="example-modal-confirm"><a class="modal-overlay" href="#modals" aria-label="Close"></a>
                                                <div class="modal-container" role="document">
                                                    <div class="modal-header"><a class="btn btn-clear float-right" href="#modals" aria-label="Close"></a>
                                                        <div class="modal-title h5">Información</div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="content">
                                                            <form class="form-horizontal">
                                                                <div class="form-group">
                                                                    <div class="col-12">
                                                                        <h6 class="form-label">Esá seguro que desea actualizar la información?</h6>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-primary" href="catalogo_persona_tipo.html">Si</a>
                                                        <a class="btn btn-link" href="#modals">No</a>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <!-- fin example modal edit-->
                                </td>
                            </tr>
                            <tr>
                                <td>Conductor</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="column col-6 col-xs-12">
                                        <i class="icon icon-2x icon-edit"></i> &nbsp;
                                        <i class="icon icon-2x icon-delete"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Coordinador</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="column col-6 col-xs-12">
                                        <i class="icon icon-2x icon-edit"></i> &nbsp;
                                        <i class="icon icon-2x icon-delete"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Rector</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="column col-6 col-xs-12">
                                        <i class="icon icon-2x icon-edit"></i> &nbsp;
                                        <i class="icon icon-2x icon-delete"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Estudiante</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="column col-6 col-xs-12">
                                        <i class="icon icon-2x icon-edit"></i> &nbsp;
                                        <i class="icon icon-2x icon-delete"></i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>