<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cards - Components - Spectre.css CSS Framework</title>
	<meta charset="utf-8">
	<meta content="index, follow" name="robots">
	<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<meta content="Yan Zhu" name="author">
	<link href="img/favicons/favicon.ico" rel="shortcut icon">
	<link href="img/favicons/favicon.png" rel="icon">
	<link href="../../libs/spectre/0.5.7/dist/spectre.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/dist/spectre-exp.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/dist/spectre-icons.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/docs/dist/docs.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/dist/spectre-icons.css">
	<link href="../../css/body.css">
</head>
<body>
<div class="docs-container off-canvas off-canvas-sidebar-show">
	<div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i
			class="icon icon-menu"></i></a>
		<div class="btns d-flex">
			<a class="btn btn-primary ml-1" href="#" target="_blank">AntawaGo</a>
		</div>
	</div>
	<div class="docs-sidebar off-canvas-sidebar" id="sidebar">
		<div class="docs-brand">
			<a class="docs-logo" href="dashboard.html">
				<img alt="Spectre.css CSS Framework" src="../../img/log_antawa.png">
				<h2>AntawaGo</h2></a>
		</div>
		<div class="docs-nav">
			<div class="accordion-container">
				<div class="accordion">
					<input hidden="" id="accordion-1" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-1">
						<i class="icon icon-arrow-right mr-1"></i>
						INICIO
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Información</a></li>
							<li class="menu-item"><a href="actualizar_contraseña_usuario.html">Cambio Clave</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input checked="" hidden="" id="accordion-2" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-2">
						<i class="icon icon-arrow-right mr-1"></i>
						PARAMETRIZACION
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="catalogo_menu.html">Menu</a></li>
							<li class="menu-item"><a href="catalogo_menu_perfil.html">Menu Perfil</a></li>
							<li class="menu-item"><a href="catalogo_persona_nacionalidad.html">Tipo Nacionalidad</a>
							</li>
							<li class="menu-item"><a href="catalogo_tipo_persona.html">Tipo Persona</a></li>
							<li class="menu-item"><a href="#accordions">DPA Ecuador</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-3" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-3">
						<i class="icon icon-arrow-right mr-1"></i>
						USUARIOS
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="registro_coordinador.html">Coordinador</a></li>
							<li class="menu-item"><a href="registro_representante_legal2.html">Representante</a></li>
							<li class="menu-item"><a href="registro_monitor.html">Monitor</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-4" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-4">
						<i class="icon icon-arrow-right mr-1"></i>
						UNIDAD EDUCATIVA
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Información</a></li>
							<li class="menu-item"><a href="#accordions">[+] Alumno</a></li>
							<li class="menu-item"><a href="#accordions">[+] Representante</a></li>
							<li class="menu-item"><a href="#accordions">Contratos</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-5" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-5">
						<i class="icon icon-arrow-right mr-1"></i>
						EMP. PROV. SERVICIO
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Información</a></li>
							<li class="menu-item"><a href="registro_conductor1.html">[+] Conductor</a></li>
							<li class="menu-item"><a href="registro_vehiculo.html">[+] Vehiculos</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-6" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-6">
						<i class="icon icon-arrow-right mr-1"></i>
						PARADAS RUTAS
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">[+] Parada</a></li>
							<li class="menu-item"><a href="#accordions">[+] Rutas</a></li>
							<li class="menu-item"><a href="#accordions">[+] Alumnos Ruta</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-9" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-9">
						<i class="icon icon-arrow-right mr-1"></i>
						REPORTES
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Reporte 1</a></li>
							<li class="menu-item"><a href="#accordions">Reporte 2</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-7" name="accordion-radio" type="radio">
					<a class="accordion-header c-hand" for="accordion-7" href="../externas/credenciales.html">
						Cerrar Sesión
					</a>
					<div class="accordion-body">
						<ul class="menu menu-nav">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="off-canvas-overlay" href="#close"></a>
	<div class="off-canvas-content">
		<br><br>
		<br><br>
		<div class="container" id="cards">
			<div class="container" id="tables">
				<h4 class="s-subtitle" id="tables-striped">
					<a aria-hidden="true" class="anchor" href="#tables-striped"></a>
					<div class="container">
						<div class="row">
							<div class="columns">
								<h4 class="col-4 col-mr-auto">Catálogo Nacionalidad</h4>
								<div class="column col-3">
									<div class="column"><a class="btn btn-primary"
									                       href="#agregar-nacionalidad">Agregar Nacionalidad</a>
										<div class="modal" id="agregar-nacionalidad"><a aria-label="Close"
										                                                class="modal-overlay"
										                                                href="#modals"></a>
											<div class="modal-container" role="document">
												<div class="modal-header"><a aria-label="Close"
												                             class="btn btn-clear float-right" href="#modals"></a>
													<div class="modal-title h5">Ingresar infromación</div>
												</div>
												<div class="modal-body">
													<div class="content">
														<div class="card-body">
															<form class="form-horizontal">
																<div class="form-group">
																	<div class="col-4 col-sm-12">
																		<h5 class="form-label"
																		    for="input-code">Código</h5>
																	</div>
																	<div class="col-8 col-sm-12">
																		<input class="form-input" id="input-code"
																		       placeholder="000" type="number">
																	</div>
																</div>
																<div class="form-group">
																	<div class="col-4 col-sm-12">
																		<h5 class="form-label"
																		    for="input-pais">País</h5>
																	</div>
																	<div class="col-8 col-sm-12">
																		<input class="form-input" id="input-pais"
																		       placeholder="pais" type="text">
																	</div>
																</div>
																<div class="form-group">
																	<div class="col-4 col-sm-12">
																		<h5 class="form-label"
																		    for="input-gentilicio">Gentilicio</h5>
																	</div>
																	<div class="col-8 col-sm-12">
																		<input class="form-input" id="input-gentilicio"
																		       placeholder="gentilicio"
																		       type="text">
																	</div>
																</div>
															</form>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<a class="btn btn-primary"
													   href="catalogo_persona_nacionalidad.html">Agregar</a>
													<a class="btn btn-link" href="#modals">Cancelar</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</h4>
				<div class="docs-demo columns">
					<div class="column col-12">
						<table class="table table-striped table-hover">
							<thead>
							<tr>
								<th>Código Internacional</th>
								<th>País</th>
								<th>Gentilicio</th>
								<th>Acción</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>593</td>
								<td>Ecuador</td>
								<td>Ecuatoriano</td>
								<td>
									<div class="column col-12 col-xs-12">
										<div class="column">
											<a class="icon icon-2x icon-edit" href="#example-modal-2"></a>&nbsp;
											<a class="icon icon-2x icon-delete" href="#example-modal-delete"></a>
											<div class="modal" id="example-modal-2"><a aria-label="Close"
											                                           class="modal-overlay"
											                                           href="#modals"></a>
												<div class="modal-container" role="document">
													<div class="modal-header"><a aria-label="Close"
													                             class="btn btn-clear float-right" href="#modals"></a>
														<div class="modal-title h5">Actualizar catálogo Nacionalidad</div>
													</div>
													<div class="modal-body">
														<div class="content">
															<form class="form-horizontal">
																<div class="form-group">
																	<div class="col-4 col-sm-12">
																		<h5 class="form-label"
																		    for="input-code-actualizar">Código</h5>
																	</div>
																	<div class="col-8 col-sm-12">
																		<input class="form-input" id="input-code-actualizar"
																		       placeholder="593"
																		       type="number">
																	</div>
																</div>
																<div class="form-group">
																	<div class="col-4 col-sm-12">
																		<h5 class="form-label"
																		    for="input-pais-actualizar">País</h5>
																	</div>
																	<div class="col-8 col-sm-12">
																		<input class="form-input" id="input-pais-actualizar"
																		       placeholder="Ecuador"
																		       type="text">
																	</div>
																</div>
																<div class="form-group">
																	<div class="col-4 col-sm-12">
																		<h5 class="form-label"
																		    for="input-gentilicio-actualizar">Gentilicio</h5>
																	</div>
																	<div class="col-8 col-sm-12">
																		<input class="form-input" id="input-gentilicio-actualizar"
																		       placeholder="Ecuatoriano"
																		       type="text">
																	</div>
																</div>
															</form>
															<div class="modal-footer">
																<a class="btn btn-primary"
																   href="#example-modal-confirm">Actualizar</a>
																<a class="btn btn-link" href="#modals">Cancelar</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="modal" id="example-modal-confirm"><a aria-label="Close"
											                                                 class="modal-overlay"
											                                                 href="#modals"></a>
												<div class="modal-container" role="document">
													<div class="modal-header"><a aria-label="Close"
													                             class="btn btn-clear float-right" href="#modals"></a>
														<div class="modal-title h5">Información</div>
													</div>
													<div class="modal-body">
														<div class="content">
															<form class="form-horizontal">
																<div class="form-group">
																	<div class="col-12">
																		<h6 class="form-label">Esá seguro que desea actualizar la información?</h6>
																	</div>
																</div>
															</form>
														</div>
													</div>
													<div class="modal-footer">
														<a class="btn btn-primary"
														   href="catalogo_persona_nacionalidad.html">Si</a>
														<a class="btn btn-link" href="#modals">No</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>58</td>
								<td>Venezuela</td>
								<td>Venezolano</td>
								<td>
									<div class="column col-12 col-xs-12">
										<div class="column">
											<i class="icon icon-2x icon-edit"></i> &nbsp;
											<i class="icon icon-2x icon-delete"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>57</td>
								<td>Colombia</td>
								<td>Colombiano</td>
								<td>
									<div class="column col-12 col-xs-12">
										<div class="column">
											<i class="icon icon-2x icon-edit"></i> &nbsp;
											<i class="icon icon-2x icon-delete"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>598</td>
								<td>Uruguay</td>
								<td>Charruas</td>
								<td>
									<div class="column col-12 col-xs-12">
										<div class="column">
											<i class="icon icon-2x icon-edit"></i> &nbsp;
											<i class="icon icon-2x icon-delete"></i>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>502</td>
								<td>Guatemala</td>
								<td>Guatemaltecos</td>
								<td>
									<div class="column col-12 col-xs-12">
										<div class="column">
											<i class="icon icon-2x icon-edit"></i> &nbsp;
											<i class="icon icon-2x icon-delete"></i>
										</div>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>