<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="utf-8">
	<meta content="index, follow" name="robots">
	<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<meta content="Yan Zhu" name="author">
	<link href="img/favicons/favicon.ico" rel="shortcut icon">
	<link href="img/favicons/favicon.png" rel="icon">
	<link href="../../libs/spectre/0.5.7/dist/spectre.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/dist/spectre-exp.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/dist/spectre-icons.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/docs/dist/docs.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/dist/spectre-icons.css">
	<link href="../../css/body.css">
	<title>Catalogo Menu Perfil</title>
</head>
<body>
<div class="docs-container off-canvas off-canvas-sidebar-show">
	<div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i
			class="icon icon-menu"></i></a>
		<div class="btns d-flex">
			<a class="btn btn-primary ml-1" href="#" target="_blank">AntawaGo</a>
		</div>
	</div>
	<div class="docs-sidebar off-canvas-sidebar" id="sidebar">
		<div class="docs-brand">
			<a class="docs-logo" href="dashboard.html">
				<img alt="Spectre.css CSS Framework" src="../../img/log_antawa.png">
				<h2>AntawaGo</h2></a>
		</div>
		<div class="docs-nav">
			<div class="accordion-container">
				<div class="accordion">
					<input hidden="" id="accordion-1" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-1">
						<i class="icon icon-arrow-right mr-1"></i>
						INICIO
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Información</a></li>
							<li class="menu-item"><a href="actualizar_contraseña_usuario.html">Cambio Clave</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input checked="" hidden="" id="accordion-2" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-2">
						<i class="icon icon-arrow-right mr-1"></i>
						PARAMETRIZACION
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="catalogo_menu.html">Menu</a></li>
							<li class="menu-item"><a href="catalogo_menu_perfil.html">Menu Perfil</a></li>
							<li class="menu-item"><a href="catalogo_persona_nacionalidad.html">Tipo Nacionalidad</a>
							</li>
							<li class="menu-item"><a href="catalogo_tipo_persona.html">Tipo Persona</a></li>
							<li class="menu-item"><a href="#accordions">DPA Ecuador</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-3" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-3">
						<i class="icon icon-arrow-right mr-1"></i>
						USUARIOS
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="registro_coordinador.html">Coordinador</a></li>
							<li class="menu-item"><a href="registro_representante_legal2.html">Representante</a></li>
							<li class="menu-item"><a href="registro_monitor.html">Monitor</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-4" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-4">
						<i class="icon icon-arrow-right mr-1"></i>
						UNIDAD EDUCATIVA
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Información</a></li>
							<li class="menu-item"><a href="#accordions">[+] Alumno</a></li>
							<li class="menu-item"><a href="#accordions">[+] Representante</a></li>
							<li class="menu-item"><a href="#accordions">Contratos</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-5" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-5">
						<i class="icon icon-arrow-right mr-1"></i>
						EMP. PROV. SERVICIO
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Información</a></li>
							<li class="menu-item"><a href="registro_conductor1.html">[+] Conductor</a></li>
							<li class="menu-item"><a href="registro_vehiculo.html">[+] Vehiculos</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-6" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-6">
						<i class="icon icon-arrow-right mr-1"></i>
						PARADAS RUTAS
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">[+] Parada</a></li>
							<li class="menu-item"><a href="#accordions">[+] Rutas</a></li>
							<li class="menu-item"><a href="#accordions">[+] Alumnos Ruta</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-9" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-9">
						<i class="icon icon-arrow-right mr-1"></i>
						REPORTES
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Reporte 1</a></li>
							<li class="menu-item"><a href="#accordions">Reporte 2</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-7" name="accordion-radio" type="radio">
					<a class="accordion-header c-hand" for="accordion-7" href="../externas/credenciales.html">
						Cerrar Sesión
					</a>
					<div class="accordion-body">
						<ul class="menu menu-nav">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="off-canvas-overlay" href="#close"></a>
	<div class="off-canvas-content">
		<div class="docs-content" id="content">
			<div class="container " id="getting-started">
				<h3 class="s-title">Catálogo Menú Perfil</h3>
				<div class="container" id="cards">
					<div class="form-group col-7">
						<select class="form-select">
							<option>-- Elija --</option>
							<option>Monitor</option>
							<option>Conductor</option>
							<option>Rector</option>
							<option>Coordinador</option>
							<option>Estudiante</option>
						</select>
					</div>
					<div align="left" class="container " id="tables">
						<div class="docs-demo columns">
							<div class="column col-7">
								<table class="table">
									<thead>
									<tr>
										<th class="col-1 bg-dark">
											<div class="form-group">
												<label class="form-checkbox ">
													<input id="docs-demo-checbox" type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</th>
										<th class="col-7 bg-dark">INICIO</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Información</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Cambio Clave</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="docs-demo columns">
							<div class="column col-7">
								<table class="table">
									<thead align="left">
									<tr>
										<th class="col-1 bg-dark">
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</th>
										<th class="col-7 bg-dark">PARAMETRIZACIÓN</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Menú</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Menú Perfil</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Tipo Nacionalidad</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Tipo Persona</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>DPA Ecuador</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="docs-demo columns">
							<div class="column col-7">
								<table class="table">
									<thead>
									<tr>
										<th class="col-1 bg-dark">
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</th>
										<th class="col-7 bg-dark">USUARIOS</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Coordiandor</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Representate</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Monitor</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="docs-demo columns">
							<div class="column col-7">
								<table class="table">
									<thead>
									<tr>
										<th class="col-1 bg-dark">
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</th>
										<th class="col-7 bg-dark">UNIDAD EDUCATIVA</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Informacíon</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Alumno</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Representate</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Contratos</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="docs-demo columns">
							<div class="column col-7">
								<table class="table">
									<thead>
									<tr>
										<th class="col-1 bg-dark">
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</th>
										<th class="col-7 bg-dark">EMP. PROV. SERVICIO</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Información</td>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Conductor</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Vehículos</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="docs-demo columns">
							<div class="column col-7">
								<table class="table">
									<thead>
									<tr>
										<th class="col-1 bg-dark">
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</th>
										<th class="col-7 bg-dark">PARADAS RUTAS</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Parada</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Ruta</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="docs-demo columns">
							<div class="column col-7">
								<table class="table">
									<thead>
									<tr>
										<th class="col-1 bg-dark">
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</th>
										<th class="col-7 bg-dark">REPORTES</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Reporte 1</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="form-checkbox">
													<input type="checkbox">
													<i class="form-icon"></i>
												</label>
											</div>
										</td>
										<td>Reporte 2</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</body>
</html>