<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cards - Components - Spectre.css CSS Framework</title>
	<meta charset="utf-8">
	<meta content="index, follow" name="robots">
	<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<meta content="Yan Zhu" name="author">
	<link href="../../img/favicons/favicon.ico" rel="shortcut icon">
	<link href="../../img/favicons/favicon.png" rel="icon">
	<link href="../../libs/spectre/0.5.7/dist/spectre.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/dist/spectre-exp.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/dist/spectre-icons.min.css" rel="stylesheet">
	<link href="../../libs/spectre/0.5.7/docs/dist/docs.min.css" rel="stylesheet">
</head>
<body>
<div class="docs-container off-canvas off-canvas-sidebar-show">
	<div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
		<div class="column col-xs-12">
			<br>
			<a class="btn btn-primary ml-1" href="#" target="_blank">AntawaGo</a>
		</div>
	</div>
	<div class="docs-sidebar off-canvas-sidebar" id="sidebar">
		<div class="docs-brand">
			<a class="docs-logo" href="dashboard.html">
				<img alt="Spectre.css CSS Framework" src="../../img/log_antawa.png">
				<h2>AntawaGo</h2></a>
		</div>
		<div class="docs-nav">
			<div class="accordion-container">
				<div class="accordion">
					<input hidden="" id="accordion-1" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-1">
						<i class="icon icon-arrow-right mr-1"></i>
						INICIO
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Información</a></li>
							<li class="menu-item"><a href="actualizar_contraseña_usuario.html">Cambio Clave</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-2" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-2">
						<i class="icon icon-arrow-right mr-1"></i>
						PARAMETRIZACION
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="catalogo_menu.html">Menu</a></li>
							<li class="menu-item"><a href="catalogo_menu_perfil.html">Menu Perfil</a></li>
							<li class="menu-item"><a href="catalogo_persona_nacionalidad.html">Tipo Nacionalidad</a>
							</li>
							<li class="menu-item"><a href="catalogo_tipo_persona.html">Tipo Persona</a></li>
							<li class="menu-item"><a href="#accordions">DPA Ecuador</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-3" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-3">
						<i class="icon icon-arrow-right mr-1"></i>
						USUARIOS
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="registro_coordinador.html">Coordinador</a></li>
							<li class="menu-item"><a href="registro_representante_legal2.html">Representante</a></li>
							<li class="menu-item"><a href="registro_monitor.html">Monitor</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-4" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-4">
						<i class="icon icon-arrow-right mr-1"></i>
						UNIDAD EDUCATIVA
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Información</a></li>
							<li class="menu-item"><a href="#accordions">[+] Alumno</a></li>
							<li class="menu-item"><a href="#accordions">[+] Representante</a></li>
							<li class="menu-item"><a href="#accordions">Contratos</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input checked="" hidden="" id="accordion-5" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-5">
						<i class="icon icon-arrow-right mr-1"></i>
						EMP. PROV. SERVICIO
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Información</a></li>
							<li class="menu-item"><a href="registro_conductor1.html">[+] Conductor</a></li>
							<li class="menu-item"><a href="registro_vehiculo.html">[+] Vehiculos</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-6" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-6">
						<i class="icon icon-arrow-right mr-1"></i>
						PARADAS RUTAS
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">[+] Parada</a></li>
							<li class="menu-item"><a href="#accordions">[+] Rutas</a></li>
							<li class="menu-item"><a href="#accordions">[+] Alumnos Ruta</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-9" name="accordion-radio" type="radio">
					<label class="accordion-header c-hand" for="accordion-9">
						<i class="icon icon-arrow-right mr-1"></i>
						REPORTES
					</label>
					<div class="accordion-body">
						<ul class="menu menu-nav">
							<li class="menu-item"><a href="#accordions">Reporte 1</a></li>
							<li class="menu-item"><a href="#accordions">Reporte 2</a></li>
						</ul>
					</div>
				</div>
				<div class="accordion">
					<input hidden="" id="accordion-7" name="accordion-radio" type="radio">
					<a class="accordion-header c-hand" for="accordion-7" href="../externas/credenciales.html">
						Cerrar Sesión
					</a>
					<div class="accordion-body">
						<ul class="menu menu-nav">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="off-canvas-overlay" href="#close"></a>
	<!-- Begin register monitor, driver, car-->
	<div class="off-canvas-content">
		<div class="docs-content" id="content">
			<div class="container" id="getting-started">
				<br><br>
				<h3 class="s-title">Registrar datos del conductor</h3>
				<div class="docs-demo columns">
					<div class="column col-11 ">
						<div class="card">
							<div class="card-image">
								<figure class="avatar avatar-xl">
									<img alt="..." src="../../img/avatar-1.png">
								</figure>
							</div>
							<div class="card-header">
								<form class="form-horizontal">
									<div class="form-group">
										<div class="col-3 col-sm-12">
											<label class="form-label" for="input-first-name">Nombres:</label>
										</div>
										<div class="col-9 col-sm-12">
											<input class="form-input" id="input-first-name" placeholder="Juan Pedro"
											       type="text">
										</div>
										<br><br>
										<div class="col-3 col-sm-12">
											<label class="form-label" for="input-last-name">Apellidos:</label>
										</div>
										<div class="col-9 col-sm-12">
											<input class="form-input" id="input-last-name" placeholder="López Armas"
											       type="text">
										</div>
										<br><br>
										<div class="col-3 col-sm-12">
											<div class="form-group">
												<select class="form-select" id="input-identificacion-choose">
													<option>--Elija--</option>
													<option>Cédula</option>
													<option>Pasaporte</option>
												</select>
											</div>
										</div>
										<div class="col-9 col-sm-12">
											<input class="form-input" id="input-identificacion" placeholder="1722783378"
												   type="text">
										</div>
										<br><br>
										<div class="col-3 col-sm-12">
											<label class="form-label" for="input-birthday">Fecha de Nacimiento:</label>
										</div>
										<div class="col-9 col-sm-12">
											<input class="form-input" id="input-birthday" type="date"
											       value="1950-12-31">
										</div>
										<br><br>
										<div class="col-3 col-sm-12">
											<label class="form-label" for="input-gender">Género:</label>
										</div>
										<div class="col-9 col-sm-12">
											<div class="form-group">
												<label class="form-radio form-inline">
													<input checked="" id="input-gender" name="gender" type="radio"><i
														class="form-icon"></i> Masculino
												</label>
												<label class="form-radio form-inline">
													<input name="gender" type="radio"><i class="form-icon"></i> Femenino
												</label>
											</div>
										</div>
										<br><br>
										<div class="col-3 col-sm-12">
											<label class="form-label" for="input-email">Correo Electrónico:</label>
										</div>
										<div class="col-9 col-sm-12">
											<input class="form-input" id="input-email" placeholder="ejemplo@hotmail.com"
											       type="email">
										</div>
										<br><br>
										<div class="col-3 col-sm-12">
											<label class="form-label" for="input-phone1">Teléfono:</label>
										</div>
										<div class="col-9 col-sm-12">
											<input class="form-input" id="input-phone1" placeholder="0999999999"
											       type="number">
										</div>
										<br><br>
										<div class="col-3 col-sm-12">
											<label class="form-label" for="input-phone2">Celular:</label>
										</div>
										<div class="col-9 col-sm-12">
											<input class="form-input" id="input-phone2" placeholder="0999999999"
											       type="email">
										</div>
										<br><br>
										<div class="col-3 col-sm-12">
											<label class="form-label" for="input-licence">Tipo de licencia:</label>
										</div>
										<div class="col-9 col-sm-12">
											<div class="form-group">
												<select class="form-select" id="input-licence">
													<option>--Elija--</option>
													<option>A</option>
													<option>B</option>
													<option>C</option>
												</select>
											</div>
										</div>
										<br><br>
										<div class="col-3 col-sm-12">
											<label class="form-label" for="input-points">Puntos de licencia:</label>
										</div>
										<div class="col-9 col-sm-12">
											<input class="form-input" id="input-points" placeholder="30" type="number">
										</div>
										<br><br>
										<div class="col-3 col-sm-12">
											<label class="form-label" for="input-photo">Foto de Perfil:</label>
										</div>
										<div class="col-9 col-sm-10">
											<div class="col-12">
												<input class="form-input" id="input-photo" type="file">
											</div>
										</div>
									</div>
									<!-- form structure -->
								</form>
							</div>
							<div align="center" class="docs-demo columns,col-3 col-sm-12">
								<div class="column"><a class="btn btn-primary" href="#example-modal-1">Guardar</a>
									<div class="modal" id="example-modal-1"><a aria-label="Close" class="modal-overlay"
									                                           href="#modals"></a>
										<div class="modal-container" role="document">
											<div class="modal-header"><a aria-label="Close"
											                             class="btn btn-clear float-right"
											                             href="#modals"></a>
												<div class="modal-title h5">Mensaje del Sistema</div>
											</div>
											<div class="modal-body">
												<div class="content">
													<p>La información será guardada, desea continuar?</p>
												</div>
											</div>
											<div class="modal-footer">
												<button class="btn btn-primary">Confirmar</button>
												<a class="btn btn-link" href="#modals">Cerrar</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>